# Dependencies
node_modules/

# Next.js
.next/
out/

# Build
dist/
build/

# npm pack output
*.tgz

# Env files
.env
.env.local
.env*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.venv

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# Dev context
.dev-context

# python
__pycache__

images_originals
tasks/
development_files/
